<%- include("./partials/header.ejs"); %>
    <div class="row">
      <div class="col-md-12" style="margin-top:5%">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>View All Users</h3>
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Join Date</th>
                <th>Photo</th>
                <th>Action</th>
              </tr>
              <!-- <script> console.log(users); </script> -->
              <% users.forEach(function(user) { %> 
              <tr id="<%= user._id %>">
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.contact %></td>
                <td><%= user.createdAt.toString() %></td>
                <td><img width="50" src="./uploads/users/<%= user.photo %>" alt=""></td>
                <td><button class="btn btn-danger btn-sm" onclick="deleteUser('<%= user._id %>')">Delete</button></td>
              </tr>
              <% }); %> 
            </table>
          </div>
        </div>
      </div>
    </div>

<%- include("./partials/footer.ejs"); %>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
  // toasts
  const deleteToast = Toastify({
    text: "user was deleted successfully!",
    duration: 3000,
  });

  const deleteErrorToast = Toastify({
    text: "Could not delete the user!",
    duration: 3000,
  });

  // delete user function
  async function deleteUser(userId) 
  {
    let response = await fetch(`/user/${userId}`, {
      method: "DELETE",
    });

    let result = await response.json();
    if(result.errors) {
      deleteErrorToast.showToast();
    } else {
      deleteToast.showToast();
      document.getElementById(userId).remove();
    }
  }
</script>